body{
    
}

.pic{
    border-radius: 50%;
}
.layout{
 color: blue;
 font-family: cursive;
 
}

table tr:even{
    background-color: rgba(62, 230, 20, 0.9)
}

.contacts{
    shape-margin: 20%;
    box-shadow: 60px 16px 50px #facf11;  
    
}
.Intro
{
    box-shadow: 60px 16px 50px #facf11;    
     
     scroll-margin: inherit;   
}

.mycenter{
  text-align:center;
  background-color: rgba(255, 255, 255, 0.75);}


#CV{
    background-color: rgb(253, 252, 251);
    padding-block-end: 7cm;
}

#Projects{
    background-color: rgb(253, 252, 251);
    //padding-block-end: 7cm;
}

#Contact me{
    background-color: rgb(253, 252, 251);
    padding-block-end: 7cm;
     background-image: url("astro.jpg"); 
}


.carousel-item {
 height: 300px;
    text-align: center;
    //background-image: url("assets/images/astro.jpg");
    

}

.item1 {
 background-color: rgb(193, 159, 124);
  height: 300px;
  
}

.item2 {
  background-color: rgb(193, 159, 124);
  height: 300px;
}

.item3 {
  background-color: rgb(193, 159, 124);

  height: 300px;
}
